[tool.poetry]
name = "youtrack-sdk"
version = "0.1.0"
description = ""
authors = []

[tool.poetry.dependencies]
python = "^3.10"
requests = "*"
pydantic = "*"

[tool.poetry.dev-dependencies]
pytest = "*"
pytest-cov = "*"

requests-mock = "*"

add-trailing-comma = "*"
black = "*"
flake8 = "*"
flake8-black = "*"
flake8-coding = "*"
flake8-isort = "*"
flake8-quotes = "*"
isort = {extras = ["pyproject"], version = "*"}

[tool.black]
line-length = 120
target-version = ["py310"]

[tool.isort]
profile = "black"
line_length = 120

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
